<footer>
  <div class="quick-contact d-block d-sm-none">
    <span>
      Se desideri ricevere informazioni più dettagliate e il programma di uno o più webinar, inviami una mail, sarò felice di rispondere ad ogni domanda.
      <a class="nav-link mb-4 mb-lg-0 d-inline fw-bold secondary" href="mailto:info@educareinpositivo.com">info&#64;educareinpositivo.com</a>
    </span>
  </div>
  <div class="container-fluid bg-primary mb-5 pb-5" id="footer">
    <div class="container-xl pt-4 pt-lg-2 pb-4 pb-lg-2">         
      <ul class="nav flex-column flex-lg-row align-items-center text-white py-3 ms-lg-5">          
        <li class="nav-item">
          <img class="img-fluid mt-4 mt-lg-0 ms-lg-3" src="images/combo.png" alt="Educare in positivo partner"/>
        </li>        
        <li class="nav-item mt-4 mb-1 ms-lg-auto me-lg-5">
          <a class="text-white nav-link mb-4 mb-lg-0 d-inline" href="mailto:info@educareinpositivo.com">info&#64;educareinpositivo.com</a>
        </li>   
        <li class="mt-4 mb-1">
          <a class="ms-3 me-3" href="https://www.instagram.com/educareinpositivo/" target="_blank">
            <img src="./assets/icon-facebook-white.svg" alt="educare in positivo instagram" height="30" class="social-icon">
          </a>
          <a class="ms-3 me-3" href="https://es-la.facebook.com/nuni.nuni.5203577" target="_blank">
            <img src="./assets/icon-instagram-white.svg" alt="educare in positivo instagram twitter" height="30" class="social-icon">
          </a>
        </li>  
        <li class="mt-4 mb-1">
          <a class="nav-link text-white" href="./privacy-policy.html">Privacy policy</a>  
        </li>        
      </ul>     
    </div>            
  </div>	
</footer>
