<section class="col-12 order-2 order-lg-1 text-center pt-4 mt-4">
  <h2> "L'infanzia è il giardino <br>in cui giocheremo da adulti"</h2>
</section>  
<!--GRID PRIMERA PANTALLA-->
<section class="container-xl mt-5" id="chi-sono">
<div class="row justify-content-center align-items-center pt-4 mt-4 ms-lg-4">
  <div class="col-12 col-lg-6 order-2 order-lg-1 text-center text-lg-start mb-5 mb-lg-0">
    <h3 class="mb-3 mx-5 mx-lg-0 fw-bold text-secondary">Chi sono</h3>
    <p class="text-black-50 mb-4 mx-5 mx-lg-0 pe-lg-5">
        Ciao sono Nunzia Martella, dottoressa in psicologia, Consulente Certificata in <strong>Disciplina Positiva</strong> per le famiglie e mamma. Ti accompagno nel coraggioso viaggio dell’essere genitore.
        <br>
        Sono felice che il tuo percorso come genitore ti abbia portato su questa pagina. Se sei qui, desideri iniziare ad <strong>educare in positivo</strong>, connettendoti con il tuo bambino attraverso l’amore e il rispetto. Qui inizia il tuo percorso verso una genitorialità cosciente.
    </p>        
    <div class="buttons">
      <a href="./chi-sono.html">
        <button class="btn btn-primary me-3 px-3 py-2 border-2 shadow-sm">         
            <span class="small">Ti racconto un po di me</span>              
        </button>      
      </a>
    </div>
  </div>
  <div class="col-12 col-lg-6 order-1 order-lg-2 mb-5 mb-lg-0 mt-lg-5 text-center position-relative">
    <img class="img-fluid" src="./images/homePageDef.png" alt="photo Nunzia Martella">        
  </div>
</div>
</section>
<!-- GRID TERCERA PANTALLA CON CARDS-->
<section class="container-xl mt-5 pb-4 mt-lg-1 mb-10 container-fluid" id="servizi">
<div class="row d-flex align-items-center justify-content-center">
  <div class="col-12 col-lg-6 mx-auto text-center mt-5 px-1">
    <h3 class="fw-bold text-secondary">Come posso aiutarti</h3>        
  </div>
</div>
<div class="card-adapt row flex-column flex-lg-row justify-content-center align-items-center align-items-lg-start text-center bg-white">
  <div class="col-12 col-lg-5 mt-5">
    <div class="card shadow rounded-3 mx-auto border border-primary" style="width: 80%;">          
      <div class="card-body">
        <h5 class="card-title mt-3 text-secondary fw-bold">Per-corso “educare in positivo”</h5>
        <p class="card-text mb-4 text-black-50">Come genitori, spesso sentiamo i primi anni dell’infanzia dei nostri figli come interminabili. Sono anni bellissimi, pieni di nuove scoperte ed avventure, ma anche anni molto duri in cui scopriamo che una delle cose più diffili è la gestione delle nostre stesse emozioni. <br>&nbsp</p>                      
        <a href="./corso-educare-in-positivo.html" class="btn btn-primary mt-2 mb-2 px-4 py-2">
          <span class="small">È perfetto per te se</span>
        </a>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-5 mt-5">
    <div class="card shadow rounded-3 mx-auto border border-primary" style="width: 80%;">          
      <div class="card-body">
        <h5 class="card-title mt-3 text-secondary fw-bold">Supporto personalizzato</h5>
        <p class="card-text mb-4 text-black-50">Nella consulenza personalizzata ti ascolterò attivamente. Costruiremo insieme strategie per affrontare le tue specifiche sfide educative. Ci concentreremo su soluzioni pratiche, realizzabili e basate sui principi della <strong>Disciplina Positiva</strong>. Ti aiuterò supportandoti nel viaggio verso la genitorialità cosciente.</p>           
       <div class="">
        <a href="./corso-consulenza-personalizzata.html" class="btn btn-primary mt-2 mb-2 px-4 py-2">
          <span class="small">È perfetto per te se</span>
        </a>
      </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-5 mt-5">
    <div class="card shadow rounded-3 mx-auto border border-primary" style="width: 80%;">          
      <div class="card-body">
        <h5 class="card-title mt-3 text-secondary fw-bold">Webinar tematici</h5>
        <p class="card-text mb-4 text-black-50">Sei interessato ad approfondire temi specifici che riguardano le tappe di sviluppo del tuo bambino? Hai bisogno di informazioni, tecniche e strategie efficaci ed effettive per affrontare in modo calmo, rispettoso e positivo momenti importanti come l'ambientamento al nido o alla scuola dell’infanzia, lo spannolinamento ecc.? Potrai informarti e formarti su temi specifici ed accedere rapidamente ai contenuti grazie alla modalità online in diretta.</p>           
       <div class="">
        <a href="./corso-webinar-tematici.html" class="btn btn-primary mt-2 mb-2 px-4 py-2">
          <span class="small">Scopri quello giusto per te</span>
        </a>
      </div>
      </div>
    </div>
  </div>
</div>
</section>
<!-- GRID CUARTA PANTALLA CON ACCORDION-->
<section class="container-xl mt-5 mb-3" id="disciplina-positiva">
<div class="row">
  <div class="col-12 col-lg-8 mx-auto text-center mt-5 px-1">
    <h3 class="fw-bold text-secondary">Cos’è la Disciplina Positiva e cosa può fare per te</h3>
    <p class="text-black-50 mx-5 mx-lg-3 mt-4 mt-lg-4">La <strong>Disciplina Positiva</strong> è un modello educativo rivolto ai genitori ed educatori. Fu sviluppato nel 1988 dalla dott.ssa
        Nelsen ed è basato sul lavoro di due psicologi umanistici Adler e Dreikus.</p>
  </div>
</div>
<div class="row justify-content-center">
    <div class="d-flex col-12 col-lg-8 justify-content-center mb-5 mt-5">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Aiuta a comprendere il comportamento dei bambini e come aiutarli a sviluppare il loro potenziale guidandoli in modo positivo, fermo e amorevole allo stesso tempo.</li>
            <li class="list-group-item">Fornisce strumenti educativi effettivi con focus su comunicazione, mutuo rispetto, amore, connessione ed empatia, offrendo un'alternativa allo stile permissivo o autoritario.</li>
            <li class="list-group-item">Insegna come essere gentile e fermo allo stesso tempo.</li>
            <li class="list-group-item">Permette al tuo bambino di apprendere abilità e norme di vita e sociali, lo farà sentire valorizzato, importante e parte rilevante della famiglia e della società.</li>         
        </ul>                      
    </div>
  <div class="row justify-content-center">
    <div class="d-flex justify-content-center">
      <a href="./disciplina-positiva.html">
        <button type="button" class="btn btn-primary px-3 border-2">
          <span class="small w-35 ">Scopri di più sulla <strong>Disciplina Positiva</strong></span>
        </button> 
      </a>
    </div>
  </div>      
</div>
</section>
<!--RESEÑAS EN CARROUSEL-->
<section class="container-xl mt-5" id="reviews">
<div class="row">
  <div class="col-12 col-lg-8 mx-auto text-center mt-5 mb-5 px-1">
    <h3 class="fw-bold text-secondary">Dicono di me</h3>      
  </div>
</div>
<div id="reviewsCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000" style="min-height: 450px; max-height: 450px; overflow-y: auto;">
  <div class="carousel-inner">  
      <div class="carousel-item active">
          <div class="container">
              <div class="row d-flex justify-content-center align-items-center">
                  <div class="col-md-3">
                      <div class="card mb-3">
                          <div class="card-body">
                              <p class="card-text">Ho conosciuto Nunzia a Barcellona poiché avevo necessità di trovare uno specialista che parlasse italiano per il mio bambino. Nunzia si è resa disponibile ad aiutare la nostra famiglia in più occasioni, è una professionista molto umana ed empatica, ci sarebbe tanto bisogno di professionisti come lei: ha saputo unire l’umanità alle competenze professionali. Grazie di cuore. <br>(Valentina)</p>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4">
                      <div class="card mb-3">
                          <div class="card-body">
                              <p class="card-text">Ho partecipato al corso “educare in positivo” ed è stato un bellissimo percorso. Gli incontri sono ben strutturati e ricchi di utili contenuti. Ho iniziato a mettere in pratica da subito quanto appreso e ho notato la differenza nel gestire alcune delle situazioni che sentivo stressanti con il mio bimbo di tre anni. Sicuramente parteciperò ad eventuali corsi di approfondimento futuri. <br>(Irene)</p>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-3">
                      <div class="card mb-3">
                          <div class="card-body">
                              <p class="card-text">Nunzia per me è la mia famiglia, un punto di appoggio fondamentale. Ha aiutato me e il mio bambino in un momento di difficoltà con la professionalità necessaria ma anche con l'amore e l’affetto di una madre ad un’altra madre. E’ una professionista in grado di consigliare e indirizzare a 360 gradi e nello stesso tempo scaldarti il cuore con dolcezza e sensibilità. <br>(Elisa) </p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="carousel-item">
          <div class="container">
              <div class="row d-flex justify-content-center align-items-center">
                <div class="col-md-3">
                  <div class="card mb-3">
                    <div class="card-body">
                      <p class="card-text">Prima di tutto grazie. Per la tua disponibilità, la chiarezza, la ricchezza dei contenuti trattati.
                        Il corso per me è stato utilissimo. Come ti avevo detto mi ero già avvicinata alla disciplina positiva e quindi "pensavo" di aver fatto miei molti comportamenti, ma è proprio grazie a questo corso che mi sono resa conto che ho ancora tanta strada da fare.
                        Ho anche capito che nei momenti difficili, durante le crisi,
                        mettevo già in atto le strategie che conoscevo, ma che era nella quotidianità, nel tempo tranquillo, che emergeva di più il mio stile di vita autoritario.
                        I temi/argomenti da cui ho tratto più giovamento sono:
                        l'importanza della connessione
                        i limiti
                        differenza tra incoraggiare e lodare
                        gli obiettivi errati del comportamento <br>(Stefania)
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card mb-3">
                    <div class="card-body">
                      <p class="card-text">Cara Nunzia, grazie per la tua costante presenza e disponibilità infinita. Come mamma di una bimba di 3 anni, pur avendo le idee chiare sullo stile genitoriale da adottare, nella pratica ci sono delle situazioni in cui ho fatto fatica ad orientarmi nella crescita del proprio bambino e tu sei stata sempre di grande supporto.Grazie per i tuoi punti di vista, e grazie per avermi aiutato a sostituire i grandi problemi con delle piccole e semplici soluzioni, con esempi chiari che rendeva il mettere tutto in atto più semplice. Non è mai mancato il tuo supporto per aiutarmi ad acquisire consapevolezza rispetto al mio ruolo del genitore. Ti ringrazierò a lungo per avermi insegnato che si può scegliere, si possono scegliere le parole e i comportamenti, per far crescere i nostri figli con punti di riferimento saldi e consapevoli. <br>(Ewelina)</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="card mb-3">
                    <div class="card-body">
                      <p class="card-text">Il corso è stato davvero molto interessante, strutturato in maniera coinvolgente e dinamico. tutti noi abbiamo avuto un ruolo attivo e non siamo stati semplici uditori.  Nunzia è stata in grado di coinvolgere tutti rendendo semplici anche concetti complessi ma utilissimi per noi genitori.Capire l’importanza dell’educazione positiva e rispettosa renderà sicuramente meraviglioso questo bellissimo viaggio che farò insieme a mia figlia. Sarei felice di poter seguire qualche altro suo corso per approfondire alcune tematiche correlate. <br>(Roberta)</p>
                    </div>
                  </div>
                </div>                 
              </div>
          </div>
      </div>          
      <div class="carousel-item">
          <div class="container">
              <div class="row d-flex justify-content-center align-items-center">                     
                  <div class="col-12 col-md-3">
                      <div class="card mb-3">
                          <div class="card-body">
                              <p class="card-text">Ho conosciuto Nunzia a Barcellona, e l’ho contattata per ricevere una consulenza per mio figlio neurodivergente, considerata la sua conoscenza ed esperienza nel campo. Si è mostrata sempre molto disponibile nell’ascoltarmi e nel consigliarmi sempre con rispetto e sensibilità. Grazie Nunzia! <br>(Maria)</p>
                          </div>
                      </div>
                  </div>
                  <div class="col-12 col-md-4">
                    <div class="card mb-3">
                        <div class="card-body">
                            <p class="card-text">Nunzia è una grande professionista. Abbiamo effettuato diverse consulenze personalizzate e lei ha sempre saputo darci consigli totalmente adatti alla nostra famiglia. Ha la capacità di vedere e comprendere le persone e questo le rende facile aiutarle. Inoltre, poter trovare qualcuno che parla la nostra stessa lingua, vivendo da qualche anno a Barcellona, ci ha dato molta tranquillità. Quando si tratta di esprimerci senza la pressione di chiederci costantemente se stiamo spiegando correttamente le cose in una lingua straniera, rende tutto più semplice. Sappiamo già che quando si tratta dei nostri figli, cerchiamo sicurezza, comprensione ed empatia. Grazie mille Nunzia. <br>(Ester)</p>
                        </div>
                    </div>
                </div>
                  <div class="col-12 col-md-3">
                      <div class="card mb-3">
                          <div class="card-body">
                              <p class="card-text">Nunzia è una persona positiva, sempre pronta ad ascoltarti. Mi sono trovata molto bene con lei, per la sua visione analitica e profonda dei vari aspetti educativi e per avermi fatto sentire accolta come mamma. <br>(Paola)</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="carousel-item">
          <div class="container">
              <div class="row d-flex justify-content-center align-items-center">
                  <div class="col-12 col-md-3">
                      <div class="card mb-3">
                          <div class="card-body">
                              <p class="card-text">Ho fatto una consulenza con Nunzia per tutti e due i miei figli. Mi sono sentita accolta, ascoltata e non giudicata nel mio ruolo di genitore, ho avuto risposte e strumenti utili per poter risolvere e affrontare le difficoltà che mi sono trovata davanti accompagnando i nostri figli. <br>(Brisa)</p>
                          </div>
                      </div>
                  </div>
                  <div class="col-12 col-md-4">
                    <div class="card mb-3">
                        <div class="card-body">
                            <p class="card-text">Ho sia partecipato al corso educare in positivo, sia usufruito degli altri servizi proposti da Nunzia. Come mamma di un bimbo di due anni, sono felicissima di aver avuto questa opportunità e grazie a lei mi si è aperto un mondo. Poter essere efficace come genitore e insegnare a mio figlio rispettando le sue peculiarità e la sua persona, mi rendono una mamma felice. Grazie Nunzia.  In te ho trovato un punto di riferimento importante e mi hai fornito strumenti indispensabili che mi saranno utili per sempre. <br>(Maria Teresa)</p>
                        </div>
                    </div>
                </div>
                  <div class="col-xl-3 col-md-3">
                      <div class="card mb-3">
                          <div class="card-body">
                              <p class="card-text">Professionista seria, preparata, delicata e attenta a tutti gli aspetti del suo lavoro ; preziosa per le famiglie che si affidano a lei a volte letteralmente smarrite in percorsi non semplici da seguire. Esperienza personale molto molto positiva. <br>(Carolina)</p>
                          </div>
                      </div>
                  </div>                     
              </div>
          </div>
      </div>
      <div class="carousel-item">
          <div class="container">
              <div class="row d-flex justify-content-center align-items-center">
                  <div class="col-12 col-md-4">
                      <div class="card mb-3">
                          <div class="card-body">
                              <p class="card-text">È raro trovare una professionista come Nunzia. Preparata, scrupolosa, empatica. Ha saputo prendermi per mano e guidarmi e grazie a lei mi sono scoperto un papà nuovo con molte più risorse. Oggi mi sento un genitore più efficace e il rapporto con il mio piccolo è migliorato. Non finirò mai di ringraziarti.<br> (Roberto, papà di un bimbo di 3 anni)</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <button class="d-none d-md-block carousel-control-prev" style="color: black; height: 75%;" type="button" data-bs-target="#reviewsCarousel" data-bs-slide="prev">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
    </svg>
  </button>
  <button class="d-none d-md-block carousel-control-next" style="color: black; height: 75%;" type="button" data-bs-target="#reviewsCarousel" data-bs-slide="next">         
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
    </svg>   
  </button>
</div>
</section>