@if(loading) {
  <app-progress-barr></app-progress-barr>
}
@else{
  <div class="container-fluid mt-5">
    <h3 class="text-center">Listado de clientes</h3>   
    <div class="container-fluid mt-5">
      <div class="row">
        <div class="col d-flex justify-content-center">
          <div class="table-responsive">
            <table class="table table-striped clientes mb-5">
              <thead>
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">DNI</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Apellido</th>
                  <th scope="col">Ciudad</th>
                  <th scope="col">Email</th>
                  <th scope="col">Teléfono</th>
                  <th scope="col">Acciones</th>
                </tr>
              </thead>
              <tbody>
                @for(cliente of listaClientes; track cliente.id) {
                  <tr>
                    <th scope="row">{{cliente.id}}</th>
                    <td>{{cliente.dni}}</td>
                    <td>{{cliente.nombre}}</td>
                    <td>{{cliente.apellido}}</td>
                    <td>{{cliente.ciudad}}</td>
                    <td>{{cliente.email}}</td>
                    <td>{{cliente.telefono}}</td>
                    <td>
                      <button type="button" class="btn btn-warning mt-3 mb-3 me-2" routerLink="/edit/{{cliente.id}}">Edit</button>
                      <button (click)="deleteCliente(cliente.id!)" type="button" class="btn btn-danger mt-3 mb-3">Del</button>
                    </td>          
                  </tr>
                  @if(successDelete) {
                    <div class="modal">
                      <div class="modal-content">
                          <p>Cliente con id {{cliente.id}} eliminado correctamente</p>
                      </div>
                  </div>
                  }
                }      
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col d-flex justify-content-center">
        <button type="button" class="btn btn-info mb-3 mt-2" routerLink="/add">Añadir cliente</button>
      </div>
    </div>        
  </div>
}

