.chart-container {
  width: 100%;
  height: 400px; /* Ajusta la altura según tus necesidades */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}

:host {
  $tui-chart-categorical-00: #c779d0;
  $tui-chart-categorical-01: #feac5e;
  $tui-chart-categorical-02: #ff5f6d;
  $tui-chart-categorical-03: #4bc0c8;
  $tui-chart-categorical-04: #9795cd;
}

.axes {
  block-size: 8rem;
  inline-size: 90%;
}
