
@import '../../../../node_modules/bootstrap/scss/bootstrap.scss'; 


* {
  font-family: "Arial Narrow", Arial, sans-serif;
}

body {
	overflow-x: hidden;
}


.textoLogo {
  font-family: "Satisfy";
  font-size: 1.2em !important;
  font-style: normal;
}

.logo {
  margin-bottom: -60px;
}
  
 .navbar-nav .nav-item .nav-link {
    letter-spacing: 0.1rem;
  }
  
  .nav-tabs .nav-item .nav-link.active {
    color: dark;
    border-bottom: 0.25rem solid $secondary;
  }
  
  .nav-tabs .nav-item .nav-link {
    color: gray;
    border: none;
  }
  
  .nav .nav-item .nav-link {
    letter-spacing: 0.1rem;
  } 

  .card .img-size {
    width: 40%;
  }

  .quick-contact {
    background-color: $primary;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    padding: 0.5em;
    text-align: center;
    font-size: 0.9em;
  }

  .quick-contact a {
    color: $secondary;   
  }

  .carousel {
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
  }
  
  .carousel::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  .carousel::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }
    
  .carousel::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  @media (max-width: 991px) {
    .navbar-toggler {
      display: flex;
      justify-content: end !important;   
    }    
  }

  @media screen and (max-width: 400px) {
    h2 {
      font-size: 2em !important;     
    }    
  } 


  

 
